In [2]:
import numpy as np
import pandas as pd
import os
import torch
import matplotlib.pyplot as plt
import sys
from datetime import datetime, timedelta

In [25]:
sys.path

['',
 '/home/seyunkim/anaconda3/envs/syenv/lib/python36.zip',
 '/home/seyunkim/anaconda3/envs/syenv/lib/python3.6',
 '/home/seyunkim/anaconda3/envs/syenv/lib/python3.6/lib-dynload',
 '/home/seyunkim/anaconda3/envs/syenv/lib/python3.6/site-packages',
 '/home/seyunkim/anaconda3/envs/syenv/lib/python3.6/site-packages/IPython/extensions',
 '/home/seyunkim/.ipython']

In [3]:
dateList = pd.date_range(start = '01/01/2008', end='30/03/2009')
dateRemove  = pd.to_datetime(['2008-01-01', '2008-01-21', '2008-02-18','2008-03-31','2008-03-09', '2008-05-26','2008-07-04','2008-09-01',
                              '2008-11-11','2008-11-17', '2008-12-25', '2009-01-01','2009-01-21','2009-02-16',"2009-03-08"])
dateList = [s for s in dateList if s not in dateRemove]

In [9]:
dateList

[Timestamp('2008-01-02 00:00:00', freq='D'),
 Timestamp('2008-01-03 00:00:00', freq='D'),
 Timestamp('2008-01-04 00:00:00', freq='D'),
 Timestamp('2008-01-05 00:00:00', freq='D'),
 Timestamp('2008-01-06 00:00:00', freq='D'),
 Timestamp('2008-01-07 00:00:00', freq='D'),
 Timestamp('2008-01-08 00:00:00', freq='D'),
 Timestamp('2008-01-09 00:00:00', freq='D'),
 Timestamp('2008-01-10 00:00:00', freq='D'),
 Timestamp('2008-01-11 00:00:00', freq='D'),
 Timestamp('2008-01-12 00:00:00', freq='D'),
 Timestamp('2008-01-13 00:00:00', freq='D'),
 Timestamp('2008-01-14 00:00:00', freq='D'),
 Timestamp('2008-01-15 00:00:00', freq='D'),
 Timestamp('2008-01-16 00:00:00', freq='D'),
 Timestamp('2008-01-17 00:00:00', freq='D'),
 Timestamp('2008-01-18 00:00:00', freq='D'),
 Timestamp('2008-01-19 00:00:00', freq='D'),
 Timestamp('2008-01-20 00:00:00', freq='D'),
 Timestamp('2008-01-22 00:00:00', freq='D'),
 Timestamp('2008-01-23 00:00:00', freq='D'),
 Timestamp('2008-01-24 00:00:00', freq='D'),
 Timestamp('2008-01-25 00:00:00', freq='D'),
 Timestamp('2008-01-26 00:00:00', freq='D'),
 Timestamp('2008-01-27 00:00:00', freq='D'),
 Timestamp('2008-01-28 00:00:00', freq='D'),
 Timestamp('2008-01-29 00:00:00', freq='D'),
 Timestamp('2008-01-30 00:00:00', freq='D'),
 Timestamp('2008-01-31 00:00:00', freq='D'),
 Timestamp('2008-02-01 00:00:00', freq='D'),
 Timestamp('2008-02-02 00:00:00', freq='D'),
 Timestamp('2008-02-03 00:00:00', freq='D'),
 Timestamp('2008-02-04 00:00:00', freq='D'),
 Timestamp('2008-02-05 00:00:00', freq='D'),
 Timestamp('2008-02-06 00:00:00', freq='D'),
 Timestamp('2008-02-07 00:00:00', freq='D'),
 Timestamp('2008-02-08 00:00:00', freq='D'),
 Timestamp('2008-02-09 00:00:00', freq='D'),
 Timestamp('2008-02-10 00:00:00', freq='D'),
 Timestamp('2008-02-11 00:00:00', freq='D'),
 Timestamp('2008-02-12 00:00:00', freq='D'),
 Timestamp('2008-02-13 00:00:00', freq='D'),
 Timestamp('2008-02-14 00:00:00', freq='D'),
 Timestamp('2008-02-15 00:00:00', freq='D'),
 Timestamp('2008-02-16 00:00:00', freq='D'),
 Timestamp('2008-02-17 00:00:00', freq='D'),
 Timestamp('2008-02-19 00:00:00', freq='D'),
 Timestamp('2008-02-20 00:00:00', freq='D'),
 Timestamp('2008-02-21 00:00:00', freq='D'),
 Timestamp('2008-02-22 00:00:00', freq='D'),
 Timestamp('2008-02-23 00:00:00', freq='D'),
 Timestamp('2008-02-24 00:00:00', freq='D'),
 Timestamp('2008-02-25 00:00:00', freq='D'),
 Timestamp('2008-02-26 00:00:00', freq='D'),
 Timestamp('2008-02-27 00:00:00', freq='D'),
 Timestamp('2008-02-28 00:00:00', freq='D'),
 Timestamp('2008-02-29 00:00:00', freq='D'),
 Timestamp('2008-03-01 00:00:00', freq='D'),
 Timestamp('2008-03-02 00:00:00', freq='D'),
 Timestamp('2008-03-03 00:00:00', freq='D'),
 Timestamp('2008-03-04 00:00:00', freq='D'),
 Timestamp('2008-03-05 00:00:00', freq='D'),
 Timestamp('2008-03-06 00:00:00', freq='D'),
 Timestamp('2008-03-07 00:00:00', freq='D'),
 Timestamp('2008-03-08 00:00:00', freq='D'),
 Timestamp('2008-03-10 00:00:00', freq='D'),
 Timestamp('2008-03-11 00:00:00', freq='D'),
 Timestamp('2008-03-12 00:00:00', freq='D'),
 Timestamp('2008-03-13 00:00:00', freq='D'),
 Timestamp('2008-03-14 00:00:00', freq='D'),
 Timestamp('2008-03-15 00:00:00', freq='D'),
 Timestamp('2008-03-16 00:00:00', freq='D'),
 Timestamp('2008-03-17 00:00:00', freq='D'),
 Timestamp('2008-03-18 00:00:00', freq='D'),
 Timestamp('2008-03-19 00:00:00', freq='D'),
 Timestamp('2008-03-20 00:00:00', freq='D'),
 Timestamp('2008-03-21 00:00:00', freq='D'),
 Timestamp('2008-03-22 00:00:00', freq='D'),
 Timestamp('2008-03-23 00:00:00', freq='D'),
 Timestamp('2008-03-24 00:00:00', freq='D'),
 Timestamp('2008-03-25 00:00:00', freq='D'),
 Timestamp('2008-03-26 00:00:00', freq='D'),
 Timestamp('2008-03-27 00:00:00', freq='D'),
 Timestamp('2008-03-28 00:00:00', freq='D'),
 Timestamp('2008-03-29 00:00:00', freq='D'),
 Timestamp('2008-03-30 00:00:00', freq='D'),
 Timestamp('2008-04-01 00:00:00', freq='D'),
 Timestamp('2008-04-02 00:00:00', freq='D'),
 Timestamp('2008-04-03 00:00:00', freq='D'),
 Timestamp('2008-04-04 00:00:00', freq='D'),
 Timestamp('2008-04-05 00:00:00', freq='D'),
 Timestamp('2008-04-06 00:00:00', freq='D'),
 Timestamp('2008-04-07 00:00:00', freq='D'),
 Timestamp('2008-04-08 00:00:00', freq='D'),
 Timestamp('2008-04-09 00:00:00', freq='D'),
 Timestamp('2008-04-10 00:00:00', freq='D'),
 Timestamp('2008-04-11 00:00:00', freq='D'),
 Timestamp('2008-04-12 00:00:00', freq='D'),
 Timestamp('2008-04-13 00:00:00', freq='D'),
 Timestamp('2008-04-14 00:00:00', freq='D'),
 Timestamp('2008-04-15 00:00:00', freq='D'),
 Timestamp('2008-04-16 00:00:00', freq='D'),
 Timestamp('2008-04-17 00:00:00', freq='D'),
 Timestamp('2008-04-18 00:00:00', freq='D'),
 Timestamp('2008-04-19 00:00:00', freq='D'),
 Timestamp('2008-04-20 00:00:00', freq='D'),
 Timestamp('2008-04-21 00:00:00', freq='D'),
 Timestamp('2008-04-22 00:00:00', freq='D'),
 Timestamp('2008-04-23 00:00:00', freq='D'),
 Timestamp('2008-04-24 00:00:00', freq='D'),
 Timestamp('2008-04-25 00:00:00', freq='D'),
 Timestamp('2008-04-26 00:00:00', freq='D'),
 Timestamp('2008-04-27 00:00:00', freq='D'),
 Timestamp('2008-04-28 00:00:00', freq='D'),
 Timestamp('2008-04-29 00:00:00', freq='D'),
 Timestamp('2008-04-30 00:00:00', freq='D'),
 Timestamp('2008-05-01 00:00:00', freq='D'),
 Timestamp('2008-05-02 00:00:00', freq='D'),
 Timestamp('2008-05-03 00:00:00', freq='D'),
 Timestamp('2008-05-04 00:00:00', freq='D'),
 Timestamp('2008-05-05 00:00:00', freq='D'),
 Timestamp('2008-05-06 00:00:00', freq='D'),
 Timestamp('2008-05-07 00:00:00', freq='D'),
 Timestamp('2008-05-08 00:00:00', freq='D'),
 Timestamp('2008-05-09 00:00:00', freq='D'),
 Timestamp('2008-05-10 00:00:00', freq='D'),
 Timestamp('2008-05-11 00:00:00', freq='D'),
 Timestamp('2008-05-12 00:00:00', freq='D'),
 Timestamp('2008-05-13 00:00:00', freq='D'),
 Timestamp('2008-05-14 00:00:00', freq='D'),
 Timestamp('2008-05-15 00:00:00', freq='D'),
 Timestamp('2008-05-16 00:00:00', freq='D'),
 Timestamp('2008-05-17 00:00:00', freq='D'),
 Timestamp('2008-05-18 00:00:00', freq='D'),
 Timestamp('2008-05-19 00:00:00', freq='D'),
 Timestamp('2008-05-20 00:00:00', freq='D'),
 Timestamp('2008-05-21 00:00:00', freq='D'),
 Timestamp('2008-05-22 00:00:00', freq='D'),
 Timestamp('2008-05-23 00:00:00', freq='D'),
 Timestamp('2008-05-24 00:00:00', freq='D'),
 Timestamp('2008-05-25 00:00:00', freq='D'),
 Timestamp('2008-05-27 00:00:00', freq='D'),
 Timestamp('2008-05-28 00:00:00', freq='D'),
 Timestamp('2008-05-29 00:00:00', freq='D'),
 Timestamp('2008-05-30 00:00:00', freq='D'),
 Timestamp('2008-05-31 00:00:00', freq='D'),
 Timestamp('2008-06-01 00:00:00', freq='D'),
 Timestamp('2008-06-02 00:00:00', freq='D'),
 Timestamp('2008-06-03 00:00:00', freq='D'),
 Timestamp('2008-06-04 00:00:00', freq='D'),
 Timestamp('2008-06-05 00:00:00', freq='D'),
 Timestamp('2008-06-06 00:00:00', freq='D'),
 Timestamp('2008-06-07 00:00:00', freq='D'),
 Timestamp('2008-06-08 00:00:00', freq='D'),
 Timestamp('2008-06-09 00:00:00', freq='D'),
 Timestamp('2008-06-10 00:00:00', freq='D'),
 Timestamp('2008-06-11 00:00:00', freq='D'),
 Timestamp('2008-06-12 00:00:00', freq='D'),
 Timestamp('2008-06-13 00:00:00', freq='D'),
 Timestamp('2008-06-14 00:00:00', freq='D'),
 Timestamp('2008-06-15 00:00:00', freq='D'),
 Timestamp('2008-06-16 00:00:00', freq='D'),
 Timestamp('2008-06-17 00:00:00', freq='D'),
 Timestamp('2008-06-18 00:00:00', freq='D'),
 Timestamp('2008-06-19 00:00:00', freq='D'),
 Timestamp('2008-06-20 00:00:00', freq='D'),
 Timestamp('2008-06-21 00:00:00', freq='D'),
 Timestamp('2008-06-22 00:00:00', freq='D'),
 Timestamp('2008-06-23 00:00:00', freq='D'),
 Timestamp('2008-06-24 00:00:00', freq='D'),
 Timestamp('2008-06-25 00:00:00', freq='D'),
 Timestamp('2008-06-26 00:00:00', freq='D'),
 Timestamp('2008-06-27 00:00:00', freq='D'),
 Timestamp('2008-06-28 00:00:00', freq='D'),
 Timestamp('2008-06-29 00:00:00', freq='D'),
 Timestamp('2008-06-30 00:00:00', freq='D'),
 Timestamp('2008-07-01 00:00:00', freq='D'),
 Timestamp('2008-07-02 00:00:00', freq='D'),
 Timestamp('2008-07-03 00:00:00', freq='D'),
 Timestamp('2008-07-05 00:00:00', freq='D'),
 Timestamp('2008-07-06 00:00:00', freq='D'),
 Timestamp('2008-07-07 00:00:00', freq='D'),
 Timestamp('2008-07-08 00:00:00', freq='D'),
 Timestamp('2008-07-09 00:00:00', freq='D'),
 Timestamp('2008-07-10 00:00:00', freq='D'),
 Timestamp('2008-07-11 00:00:00', freq='D'),
 Timestamp('2008-07-12 00:00:00', freq='D'),
 Timestamp('2008-07-13 00:00:00', freq='D'),
 Timestamp('2008-07-14 00:00:00', freq='D'),
 Timestamp('2008-07-15 00:00:00', freq='D'),
 Timestamp('2008-07-16 00:00:00', freq='D'),
 Timestamp('2008-07-17 00:00:00', freq='D'),
 Timestamp('2008-07-18 00:00:00', freq='D'),
 Timestamp('2008-07-19 00:00:00', freq='D'),
 Timestamp('2008-07-20 00:00:00', freq='D'),
 Timestamp('2008-07-21 00:00:00', freq='D'),
 Timestamp('2008-07-22 00:00:00', freq='D'),
 Timestamp('2008-07-23 00:00:00', freq='D'),
 Timestamp('2008-07-24 00:00:00', freq='D'),
 Timestamp('2008-07-25 00:00:00', freq='D'),
 Timestamp('2008-07-26 00:00:00', freq='D'),
 Timestamp('2008-07-27 00:00:00', freq='D'),
 Timestamp('2008-07-28 00:00:00', freq='D'),
 Timestamp('2008-07-29 00:00:00', freq='D'),
 Timestamp('2008-07-30 00:00:00', freq='D'),
 Timestamp('2008-07-31 00:00:00', freq='D'),
 Timestamp('2008-08-01 00:00:00', freq='D'),
 Timestamp('2008-08-02 00:00:00', freq='D'),
 Timestamp('2008-08-03 00:00:00', freq='D'),
 Timestamp('2008-08-04 00:00:00', freq='D'),
 Timestamp('2008-08-05 00:00:00', freq='D'),
 Timestamp('2008-08-06 00:00:00', freq='D'),
 Timestamp('2008-08-07 00:00:00', freq='D'),
 Timestamp('2008-08-08 00:00:00', freq='D'),
 Timestamp('2008-08-09 00:00:00', freq='D'),
 Timestamp('2008-08-10 00:00:00', freq='D'),
 Timestamp('2008-08-11 00:00:00', freq='D'),
 Timestamp('2008-08-12 00:00:00', freq='D'),
 Timestamp('2008-08-13 00:00:00', freq='D'),
 Timestamp('2008-08-14 00:00:00', freq='D'),
 Timestamp('2008-08-15 00:00:00', freq='D'),
 Timestamp('2008-08-16 00:00:00', freq='D'),
 Timestamp('2008-08-17 00:00:00', freq='D'),
 Timestamp('2008-08-18 00:00:00', freq='D'),
 Timestamp('2008-08-19 00:00:00', freq='D'),
 Timestamp('2008-08-20 00:00:00', freq='D'),
 Timestamp('2008-08-21 00:00:00', freq='D'),
 Timestamp('2008-08-22 00:00:00', freq='D'),
 Timestamp('2008-08-23 00:00:00', freq='D'),
 Timestamp('2008-08-24 00:00:00', freq='D'),
 Timestamp('2008-08-25 00:00:00', freq='D'),
 Timestamp('2008-08-26 00:00:00', freq='D'),
 Timestamp('2008-08-27 00:00:00', freq='D'),
 Timestamp('2008-08-28 00:00:00', freq='D'),
 Timestamp('2008-08-29 00:00:00', freq='D'),
 Timestamp('2008-08-30 00:00:00', freq='D'),
 Timestamp('2008-08-31 00:00:00', freq='D'),
 Timestamp('2008-09-02 00:00:00', freq='D'),
 Timestamp('2008-09-03 00:00:00', freq='D'),
 Timestamp('2008-09-04 00:00:00', freq='D'),
 Timestamp('2008-09-05 00:00:00', freq='D'),
 Timestamp('2008-09-06 00:00:00', freq='D'),
 Timestamp('2008-09-07 00:00:00', freq='D'),
 Timestamp('2008-09-08 00:00:00', freq='D'),
 Timestamp('2008-09-09 00:00:00', freq='D'),
 Timestamp('2008-09-10 00:00:00', freq='D'),
 Timestamp('2008-09-11 00:00:00', freq='D'),
 Timestamp('2008-09-12 00:00:00', freq='D'),
 Timestamp('2008-09-13 00:00:00', freq='D'),
 Timestamp('2008-09-14 00:00:00', freq='D'),
 Timestamp('2008-09-15 00:00:00', freq='D'),
 Timestamp('2008-09-16 00:00:00', freq='D'),
 Timestamp('2008-09-17 00:00:00', freq='D'),
 Timestamp('2008-09-18 00:00:00', freq='D'),
 Timestamp('2008-09-19 00:00:00', freq='D'),
 Timestamp('2008-09-20 00:00:00', freq='D'),
 Timestamp('2008-09-21 00:00:00', freq='D'),
 Timestamp('2008-09-22 00:00:00', freq='D'),
 Timestamp('2008-09-23 00:00:00', freq='D'),
 Timestamp('2008-09-24 00:00:00', freq='D'),
 Timestamp('2008-09-25 00:00:00', freq='D'),
 Timestamp('2008-09-26 00:00:00', freq='D'),
 Timestamp('2008-09-27 00:00:00', freq='D'),
 Timestamp('2008-09-28 00:00:00', freq='D'),
 Timestamp('2008-09-29 00:00:00', freq='D'),
 Timestamp('2008-09-30 00:00:00', freq='D'),
 Timestamp('2008-10-01 00:00:00', freq='D'),
 Timestamp('2008-10-02 00:00:00', freq='D'),
 Timestamp('2008-10-03 00:00:00', freq='D'),
 Timestamp('2008-10-04 00:00:00', freq='D'),
 Timestamp('2008-10-05 00:00:00', freq='D'),
 Timestamp('2008-10-06 00:00:00', freq='D'),
 Timestamp('2008-10-07 00:00:00', freq='D'),
 Timestamp('2008-10-08 00:00:00', freq='D'),
 Timestamp('2008-10-09 00:00:00', freq='D'),
 Timestamp('2008-10-10 00:00:00', freq='D'),
 Timestamp('2008-10-11 00:00:00', freq='D'),
 Timestamp('2008-10-12 00:00:00', freq='D'),
 Timestamp('2008-10-13 00:00:00', freq='D'),
 Timestamp('2008-10-14 00:00:00', freq='D'),
 Timestamp('2008-10-15 00:00:00', freq='D'),
 Timestamp('2008-10-16 00:00:00', freq='D'),
 Timestamp('2008-10-17 00:00:00', freq='D'),
 Timestamp('2008-10-18 00:00:00', freq='D'),
 Timestamp('2008-10-19 00:00:00', freq='D'),
 Timestamp('2008-10-20 00:00:00', freq='D'),
 Timestamp('2008-10-21 00:00:00', freq='D'),
 Timestamp('2008-10-22 00:00:00', freq='D'),
 Timestamp('2008-10-23 00:00:00', freq='D'),
 Timestamp('2008-10-24 00:00:00', freq='D'),
 Timestamp('2008-10-25 00:00:00', freq='D'),
 Timestamp('2008-10-26 00:00:00', freq='D'),
 Timestamp('2008-10-27 00:00:00', freq='D'),
 Timestamp('2008-10-28 00:00:00', freq='D'),
 Timestamp('2008-10-29 00:00:00', freq='D'),
 Timestamp('2008-10-30 00:00:00', freq='D'),
 Timestamp('2008-10-31 00:00:00', freq='D'),
 Timestamp('2008-11-01 00:00:00', freq='D'),
 Timestamp('2008-11-02 00:00:00', freq='D'),
 Timestamp('2008-11-03 00:00:00', freq='D'),
 Timestamp('2008-11-04 00:00:00', freq='D'),
 Timestamp('2008-11-05 00:00:00', freq='D'),
 Timestamp('2008-11-06 00:00:00', freq='D'),
 Timestamp('2008-11-07 00:00:00', freq='D'),
 Timestamp('2008-11-08 00:00:00', freq='D'),
 Timestamp('2008-11-09 00:00:00', freq='D'),
 Timestamp('2008-11-10 00:00:00', freq='D'),
 Timestamp('2008-11-12 00:00:00', freq='D'),
 Timestamp('2008-11-13 00:00:00', freq='D'),
 Timestamp('2008-11-14 00:00:00', freq='D'),
 Timestamp('2008-11-15 00:00:00', freq='D'),
 Timestamp('2008-11-16 00:00:00', freq='D'),
 Timestamp('2008-11-18 00:00:00', freq='D'),
 Timestamp('2008-11-19 00:00:00', freq='D'),
 Timestamp('2008-11-20 00:00:00', freq='D'),
 Timestamp('2008-11-21 00:00:00', freq='D'),
 Timestamp('2008-11-22 00:00:00', freq='D'),
 Timestamp('2008-11-23 00:00:00', freq='D'),
 Timestamp('2008-11-24 00:00:00', freq='D'),
 Timestamp('2008-11-25 00:00:00', freq='D'),
 Timestamp('2008-11-26 00:00:00', freq='D'),
 Timestamp('2008-11-27 00:00:00', freq='D'),
 Timestamp('2008-11-28 00:00:00', freq='D'),
 Timestamp('2008-11-29 00:00:00', freq='D'),
 Timestamp('2008-11-30 00:00:00', freq='D'),
 Timestamp('2008-12-01 00:00:00', freq='D'),
 Timestamp('2008-12-02 00:00:00', freq='D'),
 Timestamp('2008-12-03 00:00:00', freq='D'),
 Timestamp('2008-12-04 00:00:00', freq='D'),
 Timestamp('2008-12-05 00:00:00', freq='D'),
 Timestamp('2008-12-06 00:00:00', freq='D'),
 Timestamp('2008-12-07 00:00:00', freq='D'),
 Timestamp('2008-12-08 00:00:00', freq='D'),
 Timestamp('2008-12-09 00:00:00', freq='D'),
 Timestamp('2008-12-10 00:00:00', freq='D'),
 Timestamp('2008-12-11 00:00:00', freq='D'),
 Timestamp('2008-12-12 00:00:00', freq='D'),
 Timestamp('2008-12-13 00:00:00', freq='D'),
 Timestamp('2008-12-14 00:00:00', freq='D'),
 Timestamp('2008-12-15 00:00:00', freq='D'),
 Timestamp('2008-12-16 00:00:00', freq='D'),
 Timestamp('2008-12-17 00:00:00', freq='D'),
 Timestamp('2008-12-18 00:00:00', freq='D'),
 Timestamp('2008-12-19 00:00:00', freq='D'),
 Timestamp('2008-12-20 00:00:00', freq='D'),
 Timestamp('2008-12-21 00:00:00', freq='D'),
 Timestamp('2008-12-22 00:00:00', freq='D'),
 Timestamp('2008-12-23 00:00:00', freq='D'),
 Timestamp('2008-12-24 00:00:00', freq='D'),
 Timestamp('2008-12-26 00:00:00', freq='D'),
 Timestamp('2008-12-27 00:00:00', freq='D'),
 Timestamp('2008-12-28 00:00:00', freq='D'),
 Timestamp('2008-12-29 00:00:00', freq='D'),
 Timestamp('2008-12-30 00:00:00', freq='D'),
 Timestamp('2008-12-31 00:00:00', freq='D'),
 Timestamp('2009-01-02 00:00:00', freq='D'),
 Timestamp('2009-01-03 00:00:00', freq='D'),
 Timestamp('2009-01-04 00:00:00', freq='D'),
 Timestamp('2009-01-05 00:00:00', freq='D'),
 Timestamp('2009-01-06 00:00:00', freq='D'),
 Timestamp('2009-01-07 00:00:00', freq='D'),
 Timestamp('2009-01-08 00:00:00', freq='D'),
 Timestamp('2009-01-09 00:00:00', freq='D'),
 Timestamp('2009-01-10 00:00:00', freq='D'),
 Timestamp('2009-01-11 00:00:00', freq='D'),
 Timestamp('2009-01-12 00:00:00', freq='D'),
 Timestamp('2009-01-13 00:00:00', freq='D'),
 Timestamp('2009-01-14 00:00:00', freq='D'),
 Timestamp('2009-01-15 00:00:00', freq='D'),
 Timestamp('2009-01-16 00:00:00', freq='D'),
 Timestamp('2009-01-17 00:00:00', freq='D'),
 Timestamp('2009-01-18 00:00:00', freq='D'),
 Timestamp('2009-01-19 00:00:00', freq='D'),
 Timestamp('2009-01-20 00:00:00', freq='D'),
 Timestamp('2009-01-22 00:00:00', freq='D'),
 Timestamp('2009-01-23 00:00:00', freq='D'),
 Timestamp('2009-01-24 00:00:00', freq='D'),
 Timestamp('2009-01-25 00:00:00', freq='D'),
 Timestamp('2009-01-26 00:00:00', freq='D'),
 Timestamp('2009-01-27 00:00:00', freq='D'),
 Timestamp('2009-01-28 00:00:00', freq='D'),
 Timestamp('2009-01-29 00:00:00', freq='D'),
 Timestamp('2009-01-30 00:00:00', freq='D'),
 Timestamp('2009-01-31 00:00:00', freq='D'),
 Timestamp('2009-02-01 00:00:00', freq='D'),
 Timestamp('2009-02-02 00:00:00', freq='D'),
 Timestamp('2009-02-03 00:00:00', freq='D'),
 Timestamp('2009-02-04 00:00:00', freq='D'),
 Timestamp('2009-02-05 00:00:00', freq='D'),
 Timestamp('2009-02-06 00:00:00', freq='D'),
 Timestamp('2009-02-07 00:00:00', freq='D'),
 Timestamp('2009-02-08 00:00:00', freq='D'),
 Timestamp('2009-02-09 00:00:00', freq='D'),
 Timestamp('2009-02-10 00:00:00', freq='D'),
 Timestamp('2009-02-11 00:00:00', freq='D'),
 Timestamp('2009-02-12 00:00:00', freq='D'),
 Timestamp('2009-02-13 00:00:00', freq='D'),
 Timestamp('2009-02-14 00:00:00', freq='D'),
 Timestamp('2009-02-15 00:00:00', freq='D'),
 Timestamp('2009-02-17 00:00:00', freq='D'),
 Timestamp('2009-02-18 00:00:00', freq='D'),
 Timestamp('2009-02-19 00:00:00', freq='D'),
 Timestamp('2009-02-20 00:00:00', freq='D'),
 Timestamp('2009-02-21 00:00:00', freq='D'),
 Timestamp('2009-02-22 00:00:00', freq='D'),
 Timestamp('2009-02-23 00:00:00', freq='D'),
 Timestamp('2009-02-24 00:00:00', freq='D'),
 Timestamp('2009-02-25 00:00:00', freq='D'),
 Timestamp('2009-02-26 00:00:00', freq='D'),
 Timestamp('2009-02-27 00:00:00', freq='D'),
 Timestamp('2009-02-28 00:00:00', freq='D'),
 Timestamp('2009-03-01 00:00:00', freq='D'),
 Timestamp('2009-03-02 00:00:00', freq='D'),
 Timestamp('2009-03-03 00:00:00', freq='D'),
 Timestamp('2009-03-04 00:00:00', freq='D'),
 Timestamp('2009-03-05 00:00:00', freq='D'),
 Timestamp('2009-03-06 00:00:00', freq='D'),
 Timestamp('2009-03-07 00:00:00', freq='D'),
 Timestamp('2009-03-09 00:00:00', freq='D'),
 Timestamp('2009-03-10 00:00:00', freq='D'),
 Timestamp('2009-03-11 00:00:00', freq='D'),
 Timestamp('2009-03-12 00:00:00', freq='D'),
 Timestamp('2009-03-13 00:00:00', freq='D'),
 Timestamp('2009-03-14 00:00:00', freq='D'),
 Timestamp('2009-03-15 00:00:00', freq='D'),
 Timestamp('2009-03-16 00:00:00', freq='D'),
 Timestamp('2009-03-17 00:00:00', freq='D'),
 Timestamp('2009-03-18 00:00:00', freq='D'),
 Timestamp('2009-03-19 00:00:00', freq='D'),
 Timestamp('2009-03-20 00:00:00', freq='D'),
 Timestamp('2009-03-21 00:00:00', freq='D'),
 Timestamp('2009-03-22 00:00:00', freq='D'),
 Timestamp('2009-03-23 00:00:00', freq='D'),
 Timestamp('2009-03-24 00:00:00', freq='D'),
 Timestamp('2009-03-25 00:00:00', freq='D'),
 Timestamp('2009-03-26 00:00:00', freq='D'),
 Timestamp('2009-03-27 00:00:00', freq='D'),
 Timestamp('2009-03-28 00:00:00', freq='D'),
 Timestamp('2009-03-29 00:00:00', freq='D'),
 Timestamp('2009-03-30 00:00:00', freq='D')]

In [21]:
pems = pd.read_csv("/home/seyunkim/Documents/time_series_data/PEMS-SF/PEMS_train", sep=' ')

In [22]:
pems.head(10)

,[0.0154,0.0085,0.0099,0.0108,0.01,0.0111,0.0099.1,0.0081,0.0099.2,0.0088,...,0.0258.132,0.0239.155,0.0202.94,0.0147.121,0.0251.131,0.0165.129,0.0202.95,0.0148.138,0.014.164,0.0194]
0,[0.0109,0.0053,0.0096,0.0071,0.0082,0.0096,0.0081,0.0062,0.0070,0.0056,...,0.0311,0.0231,0.0192,0.0239,0.0191,0.0150,0.0150,0.0165,0.0203,0.011]
1,[0.0092,0.0088,0.0104,0.0093,0.0092,0.0077,0.0088,0.0087,0.0082,0.0084,...,0.0541,0.0487,0.0463,0.0509,0.0527,0.0563,0.0442,0.0383,0.0564,0.0351]
2,[0.0243,0.0257,0.0255,0.0215,0.0192,0.0221,0.0197,0.0215,0.0222,0.0256,...,0.0389,0.0373,0.0339,0.0304,0.0276,0.0306,0.0260,0.0239,0.0249,0.019]
3,[0.0294,0.0295,0.0310,0.0263,0.0278,0.0241,0.0264,0.0267,0.0266,0.0251,...,0.0329,0.0279,0.0244,0.0237,0.0211,0.0199,0.0201,0.0184,0.0188,0.0157]
4,[0.0251,0.0286,0.0251,0.0258,0.0264,0.0246,0.0235,0.0235,0.0245,0.0231,...,0.0298,0.0285,0.0272,0.0241,0.0213,0.0218,0.0198,0.0183,0.0188,0.0162]
5,[0.0209,0.0215,0.0253,0.0188,0.0200,0.0222,0.0201,0.0184,0.0184,0.0218,...,0.0298,0.0285,0.0272,0.0241,0.0213,0.0218,0.0198,0.0183,0.0188,0.0162]
6,[0.0099,0.0098,0.0086,0.0099,0.0078,0.0105,0.0090,0.0086,0.0093,0.0080,...,0.0290,0.0224,0.0290,0.0265,0.0186,0.0168,0.0169,0.0155,0.0153,0.0144]
7,[0.0198,0.0188,0.0227,0.0201,0.0212,0.0211,0.0211,0.0226,0.0186,0.0188,...,0.0477,0.0452,0.0428,0.0421,0.0394,0.0397,0.0362,0.0325,0.0323,0.0272]
8,[0.0182,0.0202,0.0242,0.0220,0.0210,0.0192,0.0192,0.0197,0.0212,0.0183,...,0.0506,0.0497,0.0443,0.0499,0.0401,0.0361,0.0376,0.0386,0.0369,0.0355]
9,[0.0242,0.0218,0.0245,0.0220,0.0211,0.0205,0.0178,0.0209,0.0187,0.0213,...,0.0505,0.0522,0.0466,0.0432,0.0435,0.0417,0.0423,0.0387,0.0394,0.0375]

In [23]:
data = pd.DataFrame(pems, index=dateList)

In [24]:
data.head(10)

,[0.0154,0.0085,0.0099,0.0108,0.01,0.0111,0.0099.1,0.0081,0.0099.2,0.0088,...,0.0258.132,0.0239.155,0.0202.94,0.0147.121,0.0251.131,0.0165.129,0.0202.95,0.0148.138,0.014.164,0.0194]
2008-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2008-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2008-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2008-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2008-01-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2008-01-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2008-01-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2008-01-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2008-01-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2008-01-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
# Hour list
hour_list = []
for nDate in dateList:
    for nHour in range(24):
        tmp_timestamp = nDate+timedelta(hours=nHour)
        hour_list.append(tmp_timestamp)
hour_list = np.array(hour_list)

In [10]:
station_index = list(range(963))

In [11]:
moving_window_dis = 24;
sample_len = 192; #168+24
input_len = 168;
output_len = 24;
total_n = 440-7; ## The total days
test_n = 7     ## The testing days, day of the last 7 days
train_n = total_n - test_n ## The training days

In [52]:
nums = np.array([], dtype=float) # row
temp = np.array((1,144), dtype=float) # matrix
temp_tensor = np.array((963,144,1), dtype=float)#3d
val = []
time_list = []
start=0
indx=0
with open("/home/seyunkim/Documents/time_series_data/PEMS-SF/PEMS_train") as f:
    for line in f:
        line = line[1:len(line)-1]
        indx = line.find(';',indx)
        nums = np.array(line[start:indx].split(' '), dtype=float)
        temp = nums
        temp = np.vstack((temp, nums))
        start = indx+1
        
        while indx<len(line)-1:
            indx = line.find(';',start)
            nums = np.array(line[start:indx].split(' '), dtype=float)
            temp = np.vstack((temp, nums))
            start = indx+1
        time_list.append(temp)
        start = 0
        indx = 0
        temp = np.array([], dtype=float)
        print(time_list[0].shape)

KeyboardInterrupt:

In [48]:
n = np.empty((1,5))
n = np.concatenate((n,np.ones((1,5))))

In [50]:
n

array([[4.67818708e-310, 0.00000000e+000, 4.67818721e-310,
        4.67818721e-310, 2.37151510e-322],
       [1.00000000e+000, 1.00000000e+000, 1.00000000e+000,
        1.00000000e+000, 1.00000000e+000]])

In [4]:
tempList = []
res = []
start = 0
indx = 0
with open("/home/seyunkim/Documents/time_series_data/PEMS-SF/PEMS_train") as f:
    for line in f:
        line = line[1:len(line)-1]
        while indx+144 < len(line)
            indx = line.find(';', indx, -1)
            tempList = np.asarray(line[start:indx].split(' '))
            
                                  
            
    
    count=0
    line = f.readline()
    line = line[1:len(line)-1]
    
    indx = line.find(';',indx,-1)
    tem = line[start:indx]
#     while indx<len(line):
#         indx=line.find(';',indx,-1)
#         #print(indx)
#         tem = line[start:indx]
#         print(len(tem))
#         em.append(tem)
#         tem=[]
#         indx=indx+1
import numpy as np
tempnp = np.asarray(tem.split(' '))

In [5]:
tempnp.shape

(144,)

In [6]:
tempnp[0]

'0.0154'